body {
  position: relative;
  height: 100%;
  background-color: #b6b09f;
}

.product-list {
  background-color: #eae4d5;
}

.products-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.order {
  display: none;
}
